/*Quitando los estilo por defecto del navegador*/
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html
{
  font-size: 62.5%;
}

/*Modificacion de Letras*/

body 
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: url('../assets/registrofondo.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/*Caja de todo el Conjunto*/
.caja-de-login
{
  width: 25%;
  margin: 0 auto;
}

/*Titulo de Login-Register*/

.PrimerT--Container
{
  padding: 30px;
  background-color: peru;
  display: flex;
  position: absolute;
  left: 556px;
  top: 58px;
  border-radius: 15px;
}

.PrimerT--Container h1
{
  text-align: center;
  color: #ffffff;
  font-size: 40px;
}

/* Titulo de Iniciar Sesion */
.Inic-Contain
{
  left: 523px;
}


/*Contenedor de Todo el Formulario*/

.contenedor
{
  padding: 15px 0;
  position: relative;
}

/*Formulario*/

.formulario 
{
  background:#fff;
  margin-top: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
}

/* Formulario de Iniciar Sesión */
/* .FormInic
{
  padding: 10px;
}
 */
/* Usuario, contraseña, Gmail */

.input-contenedor
{
  margin: 10px 0;
}

/* Estilo del Input de Gmail y demas yerbas */

.input-contenedor input
{
  outline: none;
  padding: 15px 25px;
  border-radius: 15px;
  border: rgb(180, 156, 156) 1px solid;
}



/*Boton feroz de Registrarse-Loguearse*/
.button 
{
  border: none;
  color: white;
  font-size: 20px;
  background:peru;
  padding: 10px 17px;
  margin-bottom: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.button:hover
{
  background: cadetblue;
}

p
{
  text-align: center;
}

/* Enlaces del Login y Register */

.link
{
  text-decoration: none;
  color: peru;
  font-weight: 600;
}

.link:hover
{
  color: cadetblue;
}


/*Media Querys*/
/* @media(min-width:768px)
{
  .formulario
  {
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
  }
} */