body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(registrofondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.contenedor{
  width: 100%;
  padding: 15px;
}
.formulario {
  background:#fff;
  margin-top: 150px;
  padding: 3px;
}
h1 {
  text-align: center;
  color: peru;
  font-size: 40px;
}
.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background:peru;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover{
  background: cadetblue;
}
p{
  text-align: center;
}
.link{
  text-decoration: none;
  color: peru;
  font-weight: 600;
}
.link:hover{
  color: cadetblue;
}
@media(min-width:768px)
{
  .formulario{
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
  }
}